.options button {
	display: inline-block;
	background: #aaa;
	color: #fff;
}

.options button.current {
	background: #000;
}

.options {
	margin-top: 1em;
}

.barchart-row {
	cursor: pointer;
}
.output-code {
	margin: 1em 0;
}
.preview {
	font-weight: normal;
}