div[contenteditable=true] {
	border-bottom: 1px dashed #aaa;
	outline: none;
}

.barchart-source span {
	display: inline-block;
	border-bottom: 1px dashed #aaa;
	outline: none;
}

.output-code {
	margin: 1em 0;
}

.options button {
	display: inline-block;
	background: #aaa;
}

.options button.current {
	background: #d44;
}

.options {
	margin-top: 1em;
}

.barchart-row {
	cursor: pointer;
}