/*styles for graphic info (hed, subhed, source, credit)*/
.rg-container {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 1em 0;
    color: #1a1a1a;
}
.rg-header {
    margin-bottom: 1em;
}
.rg-hed {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0.25em;
}
.rg-subhed {
    font-size: 1em;
    line-height: 1.4em;
}
.rg-source-and-credit {
    font-family: Georgia,"Times New Roman",Times,serif;
    width: 100%;
    overflow: hidden;
    margin-top: 1em;
}
.rg-source {
    margin: 0;
    float: left;
    font-weight: bold;
    font-size: 0.75em;
    line-height: 1.5em;
}
.rg-source .pre-colon {
    text-transform: uppercase;
}
.rg-credit {
    margin: 0;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    float: right;
    text-align: right;
    font-size: 0.65em;
    line-height: 1.5em;
}
@media (max-width: 640px) {
.rg-source-and-credit > div {
    width: 100%;
    display: block;
    float: none;
    text-align: right;
}
}
/*styles for graphic*/
.rg-barchart-row {
    margin-bottom: 1em;
}

.rg-barchart-row-name {
    margin: 0.1em 0 0.1em 0;
    width: 100%;
    font-size: 0.85em;
    color: #222;
}
.highlight .rg-barchart-row-name {
    font-weight: bold;
}
.rg-barchart-row-bar {
    height: 1.2em;
}
.rg-barchart-row-bar-inner {
    display: inline-block;
    height: 100%;
    background: #edece4;
}
.highlight .rg-barchart-row-bar-inner {
    background: #bf6151;
}
.rg-barchart-row-value {
    display: inline-block;
    vertical-align: top;
    line-height: 1.5;
    margin-left: .5em;
    font-size: .8em;
    font-weight: 700;
}