.options button {
	display: inline-block;
	background: #aaa;
}

.options button.current {
	background: #d44;
}

.options {
	margin-top: 1em;
}

.barchart-row {
	cursor: pointer;
}
.output-code {
	margin: 1em 0;
}